<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.pple.dao.AdDao">
    <select id="getAdList" resultType="com.api.pple.entity.Advertise">
        SELECT  advertise_code,
                advertise_manufacturer_company_name,
                advertise_img,
                advertise_url,
                advertise_division,
                advertise_state,
                advertise_enrollment_date
        FROM ADVERTISE
        WHERE division = '게시'
        AND advertise_state = '광고중'
    </select>

    <select id="getAdDetail" parameterType="String" resultType="com.api.pple.entity.Advertise">
        SELECT  advertise_code,
                advertise_manufacturer_company_name,
                advertise_img,
                advertise_url,
                advertise_division,
                advertise_state,
                advertise_enrollment_date
        FROM ADVERTISE
        WHERE advertise_code = #{advertiseCode}
    </select>

    <insert id="registerAd" useGeneratedKeys="true" keyColumn="advertise_code" keyProperty="code">
        INSERT INTO ADVERTISE (
            advertise_manufacturer_company_name,
            advertise_img,
            advertise_url,
            advertise_division,
            advertise_state,
            advertise_enrollment_date
        ) VALUES (
            #{advertiseManufacturerCompanyName},
            #{advertiseImage},
            #{advertiseUrl},
            #{advertiseDivision},
            #{advertiseState},
            #{advertiseEnrollmentDate}
        )
    </insert>

    <update id="deleteAd">
        UPDATE ADVERTISE
        SET advertise_state = '광고종료'
        WHERE advertise_code = #{advertiseCode}
    </update>
</mapper>